body {
  margin-top: 20px;
  background-color: #b0cadf;
}
.container {
  font-family: "Google Sans", arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}
.card {
  background-color: #fdfdff;
  border: none;
  border-radius: 8px;
}
.search {
  margin-top: 35px;
  margin-left: 55px;
}

.btn-primary {
  background-color: #3b5268;
  border-color: #3b5268;
}
.btn-primary:hover {
  background-color: #6486a3;
  border-color: #6486a3;
}
.btn-outline-primary {
  color: #3b5268;
  border-color: #3b5268;
}
.btn-outline-primary:hover {
  color: white;
  background-color: #3b5268;
  border-color: #3b5268;
}
h1 {
  color: #3c3f42;
  font-size: 36px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 50px;
  margin-left: 40px;
}
ul {
  margin: 0;
  padding: 0;
}
.date {
  color: #70757a;
  list-style: none;
  font-size: 20px;
  margin-left: 40px;
}
.icon {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 44px;
  color: #3c3f42;
}
.temp {
  font-size: 46px;
}
.units {
  text-decoration: none;
  position: relative;
  bottom: 20px;
  font-size: 18px;
}
.current-weather-overview {
  color: #3c3f42;
  margin-top: 20px;
  margin-bottom: 40px;
}
.overview-list {
  list-style: none;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
}
.card.forecast {
  text-align: center;
}

i.forecast {
  font-size: 36px;
  padding: 0px 0px 20px 0px;
}
footer {
  margin-top: 10px;
  font-size: 12px;
}
.signature {
  text-align: right;
  font-size: 12px;
}
